<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/tailwind.css" />
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="/web/assets/logo01.png"
      type="image/x-icon"
    />
   
    <title>My Profile | AMBAR</title>
  </head>

  <body class="bg-gray-100">
    <div id="app" v-cloak>
      <div
        :class="tema=='tema_1' ? '' : tema=='tema_2' ? 'theme2' : tema=='tema_3' ? 'theme3' : tema=='tema_4' ? 'theme4' : tema=='tema_5' ? 'theme5' : tema=='tema_6' ? 'theme6' : ''"
        class="min-h-screen bg-skin-normal aparecer2"
      >
            <!-- HEADER CON NAV -->
            <header>

              <div ref="navbar" class="A hidden md:flex justify-between w-screen p-2 fixed z-40 place-items-center">

                  <!-- MENÚ DE TEMAS -->
                  <div class="self-start ml-16 mt-6 pb-3 fixed md:flex hidden">
                      <button id="dropdownRightButton" data-dropdown-toggle="dropdownRight"
                          data-dropdown-placement="right" class="" type="button"><img
                              src="/web/assets/icons/theme.svg" alt="temas" class="w-5 h-5 filtro1"></button>

                      <div id="dropdownRight" class="hidden z-10 w-4 fixed pt-[10px] pl-5 aparecer"
                          data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom"
                          style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform:z translate(0px, 810px);">
                          <ul class="flex py-1 text-sm text-gray-700 dark:text-gray-200"
                              aria-labelledby="dropdownDefault">
                              <li>
                                  <button
                                      class="w-7 h-7 -translate-x-[13px] hover:w-10 hover:h-10  c-flex tclaro ease-in-out hover:z-50"
                                      @click="theme(1)"><img src="/web/assets/icons/pincel1.svg"
                                          class="w-4 h-4 filter1a" alt="theme1"></button>
                              </li>
                              <li>
                                  <button
                                      class="w-7 h-7 -translate-x-[26px] hover:w-10 hover:h-10  c-flex tclaro ease-in-out hover:z-50"
                                      @click="theme(2)"><img src="/web/assets/icons/pincel1.svg"
                                          class="w-4 h-4 filter2a" alt="theme2"></button>
                              </li>
                              <li>
                                  <button
                                      class="w-7 h-7 -translate-x-[39px] hover:w-10 hover:h-10  c-flex tclaro ease-in-out hover:z-50"
                                      @click="theme(3)"><img src="/web/assets/icons/pincel1.svg"
                                          class="w-4 h-4 filter3a" alt="theme3"></button>
                              </li>
                              <li>
                                  <button
                                      class="w-7 h-7 -translate-x-[52px] hover:w-10 hover:h-10  c-flex toscuro ease-in-out hover:z-50"
                                      @click="theme(4)"><img src="/web/assets/icons/pincel1.svg"
                                          class="w-4 h-4 filter4b" alt="theme4"></button>
                              </li>
                              <li>
                                  <button
                                      class="w-7 h-7 -translate-x-[65px] hover:w-10 hover:h-10  c-flex toscuro ease-in-out hover:z-50"
                                      @click="theme(5)"><img src="/web/assets/icons/pincel1.svg"
                                          class="w-4 h-4 filter5b" alt="theme5"></button>
                              </li>
                              <li>
                                  <button
                                      class="w-7 h-7 -translate-x-[78px] hover:w-10 hover:h-10  c-flex toscuro ease-in-out hover:z-50"
                                      @click="theme(6)"><img src="/web/assets/icons/pincel1.svg"
                                          class="w-4 h-4 filter6b" alt="theme6"></button>
                              </li>
                          </ul>
                      </div>
                  </div>


                  <img :src=" tema=='tema_4' || tema=='tema_5' || tema=='tema_6' ? '/web/assets/logo02.png' : '/web/assets/logo01.png'"
                      class="w-[3.5%] h-[3.5%] ml-4 p-1 m-1 aparecer transition-all ease-in-out duration-300"
                      :class="tema=='tema_4' || tema=='tema_5' || tema=='tema_6' ? 'filtro2' : 'filtro1'" alt="logo">



                  <nav class="flex font-bahnschrift">
                      <div class="flex items-center">
                          <a class="mr-6 ml-6 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                              href="/main.html">Home</a>
                          <div class="font-xs opacity-30 text-skin-base">|</div>
                          <a class="mr-6 ml-6 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                              href="/web/public/wallofartworks.html">Store</a>
                          <div class="font-xs opacity-30 text-skin-base">|</div>
                          <a class="mr-6 ml-6 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                              href="/web/public/wallofartist.html">Artists</a>
                          <div class="font-xs opacity-30 text-skin-base">|</div>
                          <a class="mr-6 ml-6 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                              href="/web/public/shoppingcart.html">Cart</a>
                      </div>

                      <div v-show="user=='visitor' || user==''" class="flex items-center mr-6 ml-6">
                          <a class="mr-4 ml-6 px-5 py-3 text-opacity-80 text-skin-inverted hover:text-skin-base  sus"
                              href="javascript:void(0);" @click="modalLoginRegister=true, modal='login'">Log
                              in</a>
                          <div class="font-xs opacity-30 text-skin-base">|</div>
                          <a class="mr-6 ml-3 text-skin-base text-opacity-100" href="javascript:void(0);"
                              @click="modalLoginRegister=true, modal='register'">Sign in</a>
                      </div>

                      <div v-show="user=='authenticated'" class="flex items-center justify-between mr-6 ml-6 group">
                          <!-- Foto si es CLIENTE, sin ancor -->
                          <img :src="profileImage" v-show="profileInfo.typeUser == 'CLIENT'" alt=""
                              class="w-14 h-14  bg-cover bg-no-repeat rounded-full z-[41]">
                          <!-- Foto si es ARTISTA, con ancor a página personal -->
                          <a v-show="profileInfo.typeUser == 'ARTIST'"
                              :href="'/web/artist/artistpage.html?id='+profileInfo.id" class="z-[41]">
                              <img :src="profileImage" alt=""
                                  class="w-14 h-14 mr-1  bg-cover bg-no-repeat rounded-full">
                          </a>
                          <!-- DIV DETRÁS DE IMAGEN PARA EDITAR -->
                          <button
                              class="relative group-hover:-translate-x-6 transition-all duration-700 ease-in-out c-flex"
                              @click="modalUploadPhoto=true">
                              <div
                                  class="right-1 -top-7 absolute w-14 h-14 rounded-full  hover:bg-skin-base z-40 peer">
                                  <img :src="profileImage" alt=""
                                      class="w-14 h-14 mr-1  bg-cover bg-no-repeat rounded-full opacity-50 hover:contrast-150 ease-out duration-300">
                              </div>
                              <div
                                  class="absolute -top-8 -left-16 z-[41] opacity-0 peer-hover:opacity-100 text-skin-base text-3xl font-bold ease-in-out duration-300">
                                  +
                              </div>
                          </button>


                          <a class="mr-4 ml-6 px-5 py-3 text-opacity-80 text-skin-inverted hover:text-skin-base sus"
                              href="javascript:void(0);" @click="logout">Log out</a>
                      </div>
                  </nav>

              </div>


          </header>
          <!-- NAV-BAR MOBILE -->
          <header class="md:hidden">
              <div class="justify-center items-center fixed top-0 glass1 w-full max-w-screen z-40">
                  <div class=" py-2">
                      <div>
                          <img :src=" tema=='tema_4' || tema=='tema_5' || tema=='tema_6' ? '/web/assets/logo02.png' : '/web/assets/logo01.png'"
                              class=" ml-4 aparecer transition-all ease-in-out duration-300 fixed left-0 w-[40px] h-auto"
                              alt="logo">
                      </div>

                      <!-- MENÚ DE TEMAS -->
                      <div class="self-start ml-16 mt-6 pb-3 fixed md:hidden flex">
                          <button class="" type="button"><img src="/web/assets/icons/theme.svg" alt="temas"
                                  class="w-5 h-5 filtro1" @click="prueba"></button>
                      </div>



                      <div class="fixed right-0 flex" v-show="user=='visitor'">
                          <a class=" px-5 py-3 text-opacity-80 text-skin-inverted hover:text-skin-base sus"
                              href="javascript:void(0);" @click="modalLoginRegister=true, modal='login'">Log in</a>

                          <a class=" px-5 py-3 text-skin-base text-opacity-100" href="javascript:void(0);"
                              @click="modalLoginRegister=true, modal='register'">Sign in</a>
                      </div>
                      <div v-show="user=='authenticated'"
                          class="flex items-center justify-end mr-1 ml-6 group md:hidden">
                          <a class="mr-4  px-5 py-3 text-opacity-80 text-skin-inverted hover:text-skin-base sus"
                              href="javascript:void(0);" @click="logout">Log out</a>
                          <img :src="profileImage" alt="" class="w-14 h-14 mr-1  bg-cover bg-no-repeat rounded-full"
                              @click="modalUploadPhoto=true">

                      </div>

                  </div>

              </div>


              <div
                  class="flex justify-center fixed bottom-0 glass1 w-[100vw] max-w-screen py-3 font-semibold z-[42] font-bahnschrift">
                  <nav class="flex">
                      <div class="flex items-center">
                          <a class="mr-3 ml-3 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                              href="/main.html">Home</a>
                          <div class="font-xs opacity-30 text-skin-base">|</div>
                          <a class="mr-3 ml-3 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                              href="#">Store</a>
                          <div class="font-xs opacity-30 text-skin-base">|</div>
                          <a class="mr-3 ml-3 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                              href="/web/public/wallofartist.html">Artists</a>
                          <div class="font-xs opacity-30 text-skin-base">|</div>
                          <a class="mr-3 ml-3 text-skin-base text-opacity-50 hover:text-opacity-100 transition-all ease-in duration-100"
                              href="/web/public/shoppingcart.html">Cart</a>
                      </div>
                  </nav>
              </div>
          </header>


          <audio id="intro"
          src="/web/assets/y2mate.com - Chopin  Nocturne op9 No2.mp3"
          autoplay="true"></audio>
      <button v-show="!state"
          class="inline-block p-3 rounded-full focus:outline-none focus:ring fixed top-24 right-10 hover:shadow-[1px_1px_5px_rgba(var(--color-normal),0.8)] ease-in duration-300 filtro1 hover:filtro2 border-2"
          @click="estado">
          <img src="/web/assets/mute.png" alt="" class="w-6 h-6 ">
      </button>

      <button v-show="state"
          class="inline-block p-3 rounded-full focus:outline-none focus:ring fixed top-24 right-10 hover:shadow-[1px_1px_5px_rgba(var(--color-normal),0.8)] ease-in duration-300 filtro1 hover:filtro2 border-2"
          @click="estado">
          <img src="/web/assets/unmuted.png" alt="" class="w-6 h-6 ">
      </button>

        <!-- CUERPO -->

        <main class="pt-24 h-">
          <section class="h-auto bg-white p-5">
            <div
              class="bg-skin-cuasi-normal w-auto flex flex-col md:flex-row justify-center items-center rounded-lg p-3"
            >
              <div class="flex flex-col items-center md:flex-row">
                <div
                  class="flex flex-col justify-center items-center text-skin-base"
                >
                  <div>
                    <img
                      class="w-44 rounded-lg"
                      :src="artist.image"
                      alt="modern david"
                    />
                  </div>
                  <p class="text-lg font-bold">
                    {{artist.name + " " + artist.lastName}}
                  </p>
                  <p>📌 Ranking : {{artist.ranking}}</p>
                  <p>{{artist.nickname}}</p>
                  <p>{{artist.email}}</p>
                  <p>{{artist.telephone}}</p>
                </div>
                <div
                  class="hidden md:flex bg-skin-base h-[200px] w-[1px] bg-opacity-40 mx-24"
                ></div>
                <!-- LINE -->
                <div
                  class="md:hidden place-self-center bg-skin-base h-[1.2px] lg:w-1/2 w-full mt-9 bg-opacity-40"
                ></div>
                <!-- LINE -->
              </div>
              <div class="flex flex-col justify-center text-black">
                <div class=" c-flex">
                  <a href="javascript:void(0);" @click="activeModalUpdate=true" class="peer botonredondo">
                      +
                  </a>
                  <div class=" font-bahnschrift text-skin-base text-xs text-center ml-2 mt-2 peer-hover:text-skin-muted">Add new product</div>
                </div>
              </div>
            </div>
        
            <!-- OBRAS DE ARTE -->
            <div class="flex flex-wrap justify-around pt-6">
              <!-- CARD OBRA DE ARTE -->
              <div
                v-for="product in products"
                href="#"
                class="group m-5 block overflow-hidden rounded-t-2xl rounded-b-3xl md:w-[300px] aspect-card2 shadow-[0px_8px_24px_rgba(var(--color-text-base),.05)]"
              >
                <div
                  class="overflow-hidden aspect-card1 w-full border-b-[6px] border-skin-muted border-opacity-60 group-hover:border-opacity-100"
                >
                  <img
                    alt="venus"
                    :src="product.image"
                    class="saturate-[.9] hover:saturate-100 group-hover:scale-125 transition-all ease-in duration-300"
                  />
                </div>

                <div
                  class="flex flex-col p-5 bg-skin-normal group-hover:bg-skin-inverted w-full h-96 transition-all ease-in-out duration-1000"
                >
                  <h5
                    class="text-center text-lg font-bahnschrift text-skin-accent group-hover:text-skin-inverted-accent"
                  >
                    {{product.name}}
                  </h5>

                  <!--          <p
                class="text-center text-xs font-quicksand text-skin-base text-opacity-60 group-hover:text-skin-inverted   group-hover:text-opacity-70">
                Pintura - 36cm x 87cm</p> -->

                  <p
                    class="text-justify mt-3 text-xs font-quicksand text-skin-base group-hover:text-skin-inverted text-opacity-90"
                  >
                    {{product.description}}
                  </p>

                  <!-- SEPARADOR -->
                  <img
                    class="place-sel-center scale-[0.8] mt-4 opacity-40 transition-all ease-in-out duration-1000 filtro2 group-hover:opacity-90"
                    src="/web/assets/sep11.png"
                    alt=""
                  />

                  <a
                    class="mt-3 c-flex flex-col hover:filtro1 transition-all ease-in-out duration-500"
                    :href="'/web/artist/artistpage.html?id='+product.artistId"
                  >
                    <p
                      class="text-skin-base font-bahnschrift text-xs group-hover:text-skin-inverted-accent"
                    >
                      CATEGORY: {{product.category}}
                    </p>
                    <p
                      class="text-skin-base font-bahnschrift text-xs group-hover:text-skin-inverted-accent"
                    >
                      PRICE: {{product.price}}
                    </p>
                    <p
                      class="text-skin-base font-bahnschrift text-xs group-hover:text-skin-inverted-accent"
                    >
                      UNITS: {{product.units}}
                    </p>
                  </a>
                  <div class="flex flex-col justify-center text-skin-inverted">
                    <div class="w-1/4 c-flex">
                      <a href="javascript:void(0);" @click="activeModal=true , Product = product" class="peer">
                        <div class="botonredondo">
                          +</div>
                      </a>
                      <div class=" font-bahnschrift text-skin-base text-xs text-center ml-3 mt-2 peer-hover:text-skin-inverted-accent">Edit</div>
                    </div>
                  </div>
      
                </div>
              
              </div>
            </div>
            <!-- FIN OBRAS DE ARTE -->
          </section>
        </main>

        <!-- MODAL AGREGAR -->

        <div v-if="activeModalUpdate"
  class="aparecer fixed top-0 left-0 flex justify-center bg-opacity-80 aparecer z-30 w-full h-full glass2">
        </div>
        <div v-if="activeModalUpdate"
  class="aparecer fixed top-0 left-0 flex justify-center justify-items-center content-center w-full z-40">
  <div
    class="flex flex-col justify-center items-center mt-10  bg-skin-normal text-skin-base filter-none w-96 h-96 rounded-2xl shadow-sm border border-slate-300 bg-opacity-50 hover:bg-opacity-70 transition-all ease-in duration-300">
    <!-- X - CERRAR MODAL -->
    <div class="flex justify-end items-end content-end w-full">
      <button class="mt-2 mr-4" @click="activeModalUpdate=false">X</button>
  </div>
    <!-- LÍNEA -->
    <form
    class="flex flex-col md:flex md:flex-row"
    v-on:submit.prevent
  >
    <div class="flex flex-col">
      <div class="form-floating flex flex-col">
        <label for="name" class="p-1 text-xs font-quicksand"
          >Name:</label
        >
        <input
          type="text"
          id="name"
          class="form-control rounded-lg w-28"
          v-model="formLoad.name"
        />
      </div>
      <div class="form-floating flex flex-col">
        <label for="description" class="p-1 text-xs font-quicksand"
          >Description:</label
        >
        <input
          type="text"
          id="description"
          class="form-control rounded-lg w-28"
          v-model="formLoad.description"
          name="description"
        />
      </div>
      <div class="form-floating flex flex-col">
        <label for="price" class="p-1 text-xs font-quicksand"
          >Price:</label
        >
        <input
          type="number"
          id="price"
          class="form-control rounded-lg w-28"
          v-model="formLoad.price"
          name="price"
        />
      </div>
      <div class="form-floating flex flex-col">
        <label for="category" class="p-1 text-xs font-quicksand"
          >Category:</label
        >
        <input
          type="text"
          id="category"
          class="form-control rounded-lg w-28"
          v-model="formLoad.category"
          name="category"
        />
      </div>
      <div class="form-floating flex flex-col file-select boton1" id="src-file1">

        <input
          type="file"
          id="avatar"
          name="src-file1"
          class="rounded-lg text-xs font-quicksand "
          accept="image/png, image/jpeg"
          @change="select_file"
        />
      </div>
    </div>
    <div class="form-floating mb-3 flex flex-col">
      <h3 class="text-sm font-quicksand font-bold">Dimensions:</h3>
      <label for="height" class="p-1 text-xs font-quicksand"
        >Height:</label
      >
      <input
        type="number"
        id="height"
        class="form-control rounded-lg text-xs font-quicksand w-28"
        v-model="formLoad.height"
        name="height"
      />
      <label for="width" class="p-1 text-xs font-quicksand"
        >width:</label
      >
      <input
        type="number"
        id="width"
        class="form-control rounded-lg text-xs font-quicksand w-28"
        v-model="formLoad.width"
        name="width"
      />
      <label for="large" class="p-1 text-xs font-quicksand"
        >Large:</label
      >
      <input
        type="number"
        id="large"
        class="form-control rounded-lg text-xs font-quicksand w-28"
        v-model="formLoad.large"
        name="large"
      />
      <label for="stock" class="text-sm font-quicksand"
        >Stock:</label
      >
      <input
        type="number"
        id="stock"
        class="form-control rounded-lg text-xs font-quicksand w-28"
        v-model="formLoad.units"
        name="units"
      />
    </div>
  </form>
    <button class="boton3" @click="loadProduct() , activeModalUpdate=false">Add 🏵️</button>
  </div>
        </div>
     
        <!-- FIN MODAL AGREGAR -->

          <!-- MODAL EDITAR -->

          <div v-if="activeModal"
  class="aparecer fixed top-0 left-0 flex justify-center bg-opacity-80 aparecer z-30 w-full h-full glass2">
        </div>
        <div v-if="activeModal"
  class="aparecer fixed top-0 left-0 flex justify-center justify-items-center content-center w-full z-40">
  <div
    class="flex flex-col justify-center items-center mt-10 bg-skin-normal text-skin-base filter-none w-96 h-96 rounded-2xl shadow-sm border border-slate-300 bg-opacity-50 hover:bg-opacity-70 transition-all ease-in duration-300">
        <!-- X - CERRAR MODAL -->
        <div class="flex justify-end items-end content-end w-full">
          <button class="mt-2 mr-4" @click="activeModal=false">X</button>
      </div>
    <!-- LÍNEA -->
    <form
    v-on:submit.prevent
      class="flex flex-col md:flex md:flex-row"
      v-on:submit.prevent
    >
      <div class="flex flex-col">
        <div class="form-floating flex flex-col">
          <label for="name" class="p-1 text-xs font-quicksand"
            >Name:</label
          >
          <input
            type="text"
            id="name"
            class="form-control rounded-lg w-28"
            v-model="formEdit.name"
          />
        </div>
        <div class="form-floating flex flex-col">
          <label for="description" class="p-1 text-xs font-quicksand"
            >Description:</label
          >
          <input
            type="text"
            id="description"
            class="form-control rounded-lg w-28"
            v-model="formEdit.description"
            name="description"
          />
        </div>
        <div class="form-floating flex flex-col">
          <label for="price" class="p-1 text-xs font-quicksand"
            >Price:</label
          >
          <input
            type="number"
            id="price"
            class="form-control rounded-lg w-28"
            v-model="formEdit.price"
            name="price"
          />
        </div>
        <div class="form-floating flex flex-col">
          <label for="category" class="p-1 text-xs font-quicksand"
            >Category:</label
          >
          <input
            type="text"
            id="category"
            class="form-control rounded-lg w-28"
            v-model="formEdit.category"
            name="category"
          />
        </div>
        <div class="form-floating flex flex-col file-select boton1" id="src-file1">

          <input
            type="file"
            content="Choose"
            id="avatar"
            name="src-file1"
            class="rounded-lg text-xs font-quicksand"
            accept="image/png, image/jpeg"
            @change="select_file"
          />
        </div>
      </div>
      <div class="form-floating mb-3 flex flex-col">
        <h3 class="text-sm font-quicksand font-bold">Dimensions:</h3>
        <label for="height" class="p-1 text-xs font-quicksand"
          >Height:</label
        >
        <input
          type="number"
          id="height"
          class="form-control rounded-lg text-xs font-quicksand w-28"
          v-model="formEdit.height"
          name="height"
        />
        <label for="width" class="p-1 text-xs font-quicksand"
          >width:</label
        >
        <input
          type="number"
          id="width"
          class="form-control rounded-lg text-xs font-quicksand w-28"
          v-model="formEdit.width"
          name="width"
        />
        <label for="large" class="p-1 text-xs font-quicksand"
          >Large:</label
        >
        <input
          type="number"
          id="large"
          class="form-control rounded-lg text-xs font-quicksand w-28"
          v-model="formEdit.large"
          name="large"
        />
        <label for="stock" class="text-sm font-quicksand"
          >Stock:</label
        >
        <input
          type="number"
          id="stock"
          class="form-control rounded-lg text-xs font-quicksand w-28"
          v-model="formEdit.units"
          name="units"
        />

      </div>
    </form>
    <button class="boton3" @click="updateProduct(Product) , activeModal=false">    Update 🏵️</button>
  </div>
        </div>

           <!-- FIN MODAL EDITAR -->
           <img class="place-sel-center scale-[0.4] mt-9 opacity-70 transition-all ease-in-out duration-1000 filtro1 hover:filtro2 -scale-y-[0.4] w-full"
           src="/web/assets/sep4.png" alt="">

       <!-- FOOTER -->
       <footer class="md:ml-40 font-quicksand">



           <div class="px-5 py-24 md:flex overflow-hidden md:flex-nowrap flex-wra">
               <!-- md:flex-row md:flex-nowrap flex-wrap flex-col overflow-hidden -->
               <div
                   class="w-64 flex-shrink-0 md:mx-0  md:text-left md:mt-0 mt-10 items-center md:justify-start justify-center place-items-center content-center inline m-0">
                   <img :src=" tema=='tema_4' || tema=='tema_5' || tema=='tema_6' ? '/web/assets/logo02L.png' : '/web/assets/logo01L.png'"
                       class="w-[60%] h-[60%] aparecer transition-all ease-in-out duration-1000 hover:filtro1"
                       :class="tema=='tema_4' || tema=='tema_5' || tema=='tema_6' ? 'filtro2 hover:filtro1' : 'filtro1 hover:filtro2'"
                       alt="logo">
               </div>

               <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
                   <div class="lg:w-1/4 md:w-1/2  px-4 inline">
                       <h2 class="title-font font-medium text-skin-accent tracking-widest text-sm mb-3 ">ART
                           GALLERIES AROUND THE
                           WORLD</h2>
                       <nav class="list-none mb-10">
                           <li>
                               <a class="text-skin-base text-opacity-60 hover:text-opacity-100"
                                   href="https://morettigallery.com/">Galleria Moretti</a>
                           </li>
                           <li>
                               <a class="text-skin-base text-opacity-60 hover:text-opacity-100"
                                   href="https://ariaartgallery.com/">Aria Art Gallery</a>
                           </li>
                           <li>
                               <a class="text-skin-base text-opacity-60 hover:text-opacity-100"
                                   href="https://www.florenceartgallery.com/">Florence Art Gallery</a>
                           </li>
                           <li>
                               <a class="text-skin-base text-opacity-60 hover:text-opacity-100"
                                   href="https://www.fornaciaiartgallery.com/">Fornaciai Art Gallery</a>
                           </li>
                           <li>
                               <a class="text-skin-base text-opacity-60 hover:text-opacity-100"
                                   href="http://www.galleriafaustini.it/site/en/">Galleria D'Arte Faustini</a>
                           </li>
                       </nav>
                   </div>
                   <div class="lg:w-1/4 md:w-1/2 px-4 inline">
                       <h2 class="title-font font-medium text-skin-accent tracking-widest text-sm mb-3 ">LIST
                           OF NGOS</h2>
                       <nav class="list-none mb-10">
                           <li>
                               <a class="text-skin-base text-opacity-60 hover:text-opacity-100"
                                   href="https://ngobridges.com/ngo?categories[]=3">Riga German Culture
                                   Society</a>
                           </li>
                           <li>
                               <a class="text-skin-base text-opacity-60 hover:text-opacity-100"
                                   href="https://ngobridges.com/ngo?categories[]=3">Linking Foundation</a>
                           </li>
                           <li>
                               <a class="text-skin-base text-opacity-60 hover:text-opacity-100"
                                   href="https://ngobridges.com/ngo?categories[]=3">MTU Jazzon</a>
                           </li>
                           <li>
                               <a class="text-skin-base text-opacity-60 hover:text-opacity-100"
                                   href="https://ngobridges.com/ngo?categories[]=3">Island Panorama Center</a>
                           </li>
                       </nav>
                   </div>
                   <div class="lg:w-1/4 md:w-1/2 px-4 inline">
                       <h2 class="title-font font-medium text-skin-accent tracking-widest text-sm mb-3 ">LIST
                           OF AWARDS</h2>
                       <nav class="list-none mb-10">
                           <li>
                               <a class="text-skin-base text-opacity-60 hover:text-opacity-100"
                                   href="https://en.wikipedia.org/wiki/Leonardo_da_Vinci_World_Award_of_Arts">Leonardo
                                   da Vinci World
                                   Award of Arts</a>
                           </li>
                           <li>
                               <a class="text-skin-base text-opacity-60 hover:text-opacity-100"
                                   href="https://en.wikipedia.org/wiki/M%26C_Fine_Arts_Awards">M&C Fine Arts
                                   Awards</a>
                           </li>
                           <li>
                               <a class="text-skin-base text-opacity-60 hover:text-opacity-100"
                                   href="https://en.wikipedia.org/wiki/Musgrave_Medal">Musgrave Medal</a>
                           </li>
                           <li>
                               <a class="text-skin-base text-opacity-60 hover:text-opacity-100"
                                   href="https://en.wikipedia.org/wiki/PIPA_Prize">PIPA Prize </a>
                           </li>
                       </nav>
                   </div>
                   <div class="lg:w-1/4 md:w-1/2  px-4 inline">
                       <h2 class="title-font font-medium text-skin-accent tracking-widest text-sm mb-3 ">ART
                           SCHOLARSHIPS AROUND
                           THE WORLD</h2>
                       <nav class="list-none mb-10">
                           <li>
                               <a class="text-skin-base text-opacity-60 hover:text-opacity-100"
                                   href="https://www.unsw.edu.au/arts-design-architecture/study-with-us/scholarships-and-prizes">Art
                                   and design Scholarships @ UNSW</a>
                           </li>
                           <li>
                               <a class="text-skin-base text-opacity-60 hover:text-opacity-100"
                                   href="https://www.rmit.edu.au/students/careers-opportunities/scholarships">Art,
                                   fashion and textiles
                                   scholarships @ RMIT University </a>
                           </li>
                           <li>
                               <a class="text-skin-base text-opacity-60 hover:text-opacity-100"
                                   href="https://finearts-music.unimelb.edu.au/study-with-us/scholarships">Fine
                                   arts and music
                                   scholarships</a>
                           </li>
                           <li>
                               <a class="text-skin-base text-opacity-60 hover:text-opacity-100"
                                   href="https://www.krylon.com/community/krylon-clear-choice-art-scholarship/">Krylon
                                   Clear Choice Art
                                   Scholarship </a>
                           </li>
                       </nav>
                   </div>
               </div>
           </div>
           <div class="bg-skin-muted bg-opacity-20">
               <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row md:pl-20 pl-72">
                   <p class="text-gray-500 text-sm text-center sm:text-left">© 2022 MindHub —
                       <a href="https://twitter.com/knyttneve" rel="noopener noreferrer"
                           class="text-gray-600 ml-1" target="_blank">@knyttneve</a>
                   </p>
                   <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start filtro1">
                       <a class="text-gray-500 hover:filtro2">
                           <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                               stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                               <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                           </svg>
                       </a>
                       <a class="ml-3 text-gray-500 hover:filtro2">
                           <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                               stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                               <path
                                   d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                               </path>
                           </svg>
                       </a>
                       <a class="ml-3 text-gray-500 hover:filtro2">
                           <svg fill="none" stroke="currentColor" stroke-linecap="round"
                               stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                               <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                               <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                           </svg>
                       </a>
                       <a class="ml-3 text-gray-500 hover:filtro2">
                           <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                               stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                               <path stroke="none"
                                   d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                               </path>
                               <circle cx="4" cy="4" r="2" stroke="none"></circle>
                           </svg>
                       </a>
                   </span>

               </div>

           </div>


       </footer>

       <div class="relative">
           <img src="/web/assets/est09s2.png"
               class="absolute w-80 md:w-auto md:h-[600px] bottom-0 left-0 z-20 m-0 hidden md:block" alt="">


                           <!-- ---------------------- MODALES ----------------------------- -->

            <!-- MODAL DE LOGIN Y REGISTRO-->
            <div class="fixed top-0 left-0 w-full h-full glass2 c-flex aparecer bg-opacity-80 z-[42]"
            v-show="modalLoginRegister==true">
            <div
                class=" w-full md:w-auto mx-3 flex flex-col justify-between items-center glass1 aparecer rounded-lg z-[42]">
                <!-- X -->
                <div
                    class="flex justify-end items-end text-skin-base content-end w-full font-bahnschrift font-bold">
                    <button class="mt-2 mr-4" @click="modalLoginRegister=false">X</button>
                </div>
                <!-- content login-->

                <div class="flex flex-col justify-center items-center h-full w-full md:w-auto"
                    v-show="modal=='login'">
                    <h2 class="text-lg font-bold text-skin-muted md:text-2xl md:mb-5 ">Login</h2>
                    <div class="w-full  flex flex-col justify-center px-7 text-sm">
                        <div
                            class="w-full flex  justify-between items-center mb-3 md:mb-5 text-skin-accent font-bahnschrift text-xs">
                            <label class="mr-3" for="login-email">YOUR EMAIL</label>
                            <input id="login-email" type="text"
                                class=" rounded-md  text-gray-800 "
                                placeholder="name@company.com" required="" v-model="login.email">
                        </div>
                        <div class="w-full flex  justify-between items-center md:mb-5">
                            <label class="mr-3 text-skin-accent font-bahnschrift text-xs" for="login-password">YOUR
                                PASSWORD</label>
                            <input id="login-password" type="password"
                                class="rounded-md  text-gray-800" placeholder="••••••••"
                                required="" v-model="login.password">
                        </div>

                    </div>
                    <div class="w-full flex flex-col justify-center items-center">
                        <button class="w-3/4 text-skin-muted font-medium rounded-lg text-sm boton3 mx-4"
                            @click="loginAccount">Login
                            to your account</button>
                        <div class="text-sm font-medium pb-6  text-opacity-60 "
                            :class="tema=='tema_1' || tema=='tema_2' ||tema=='tema_3' ? 'text-black' : 'text-skin-base'">
                            Not registered?
                            <a class="text-skin-muted hover:underline " @click="modal='register'">Create
                                account</a>
                        </div>
                        <p>{{mjeError}}</p>
                    </div>
                </div>

                <!-- content register -->
                <div v-show="modal=='register'"
                    class="flex flex-col justify-center items-center h-full w-full aparecer">
                    <h2 class="text-lg font-bold text-skin-muted md:text-2xl">I am a...</h2>
                    <div class="flex flex-col justify-center items-center md:flex-row">
                        <button class=" px-4 md:mr-10 flex flex-col justify-center items-center boton2"
                            @click="modal='register2', userType='CLIENT'">
                            <div class="rounded-lg  overflow-hidden">
                                <img alt="content"
                                    class="object-cover object-center h-[140px] w-[175px] md:h-[200px] md:w-[200px]"
                                    src="https://media.istockphoto.com/photos/sleeping-cherub-picture-id146812696?k=20&m=146812696&s=612x612&w=0&h=US_nz-Ja0sDHE1JYfpHTF9t6gsBlftfCyQitsT41TqY=">
                            </div>
                            <h2 class="text-base  text-skin-muted font-bahnschrift font-bold mt-2 mb-2">ART LOVER
                            </h2>
                            <p class="leading-relaxed text-xs  text-opacity-70 text-skin-inverted font-bold">I want
                                to see the
                                creations
                            </p>

                        </button>
                        <button class="boton2 px-4 flex flex-col justify-center items-center"
                            @click="modal='register2', userType='ARTIST'">
                            <div class="rounded-lg overflow-hidden">
                                <img alt="content"
                                    class="object-cover object-center h-[140px] w-[175px] md:h-[200px] md:w-[200px]"
                                    src="https://media.istockphoto.com/photos/leonardo-da-vinci-statues-in-florence-picture-id637238568?k=20&m=637238568&s=612x612&w=0&h=brx6PL3ICMtcSccozesRe6Ixj3p22i2rYrKkcac493g=">
                            </div>
                            <h2 class="text-base font-bold text-skin-muted font-bahnschrift mt-2 mb-2">ARTIST</h2>
                            <p class="leading-relaxed text-xs text-skin-inverted text-opacity-70 font-bold">I am a
                                creator
                            </p>

                        </button>
                    </div>
                </div>

                <!-- content register2 -->
                <div v-show="modal=='register2'"
                    class="flex flex-col justify-center items-center aparecer my-6 w-full px-7">
                    <h2 class=" text-center text-lg font-bold text-skin-muted md:text-2xl mb-3"
                        v-show="userType=='ARTIST'">
                        Mr.
                        Artist
                        please complete the form</h2>
                    <h2 class="text-lg font-bold text-skin-muted md:text-2xl mb-3" v-show="userType=='CLIENT'">Mr.
                        Art
                        Lover please complete the form</h2>
                    <div class="text-xs md:text-lg">
                        <div class="w-full flex  justify-between items-center mb-2">
                            <label class="mr-3 text-base font-bold text-skin-base font-bahnschrift"
                                for="register-name">Name:</label>
                            <input id="register-name" type="text"
                                class=" rounded-md text-gray-800" placeholder="Blake"
                                required="" v-model="register.name">
                        </div>
                        <div class="w-full flex  justify-between items-center mb-2">
                            <label class="mr-3 text-base font-bold text-skin-base font-bahnschrift"
                                for="register-lastname">Last
                                Name:</label>
                            <input id="register-lastname" type="text"
                                class="rounded-md text-gray-800" placeholder="Walker"
                                required="" v-model="register.lastName">
                        </div>
                        <div class="w-full flex  justify-between items-center mb-2">
                            <label class="mr-3 text-base font-bold text-skin-base font-bahnschrift"
                                for="register-email">Email:</label>
                            <input id="register-email" type="text"
                                class=" rounded-md text-gray-800"
                                placeholder="name@company.com" required="" v-model="register.email">
                        </div>
                        <div class="w-full flex  justify-between items-center mb-2">
                            <label class="mr-3 text-base font-bold text-skin-base font-bahnschrift"
                                for="register-password">Password</label>
                            <input id="register-password" type="password"
                                class="rounded-md text-gray-800" placeholder="••••••••"
                                required="" v-model="register.password">
                        </div>
                        <div class="w-full flex  justify-between items-center mb-4">
                            <label class="mr-3 text-base font-bold text-skin-base font-bahnschrift"
                                for="register-password2">Password (again)</label>
                            <input id="register-password2" type="password"
                                class="rounded-md text-gray-800" placeholder="••••••••"
                                required="" v-model="repeatedPassword">
                        </div>
                        <div class="w-full flex  justify-between items-center mb-2">
                            <input id="terms" type="checkbox" value="" class="w-4 h-4 " required=""
                                v-model="termsOfServiceChecked">
                            <label for="terms" class="text-base font-bold text-skin-base font-bahnschrift">I
                                agree
                                with
                                the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms
                                    and conditions</a></label>
                        </div>


                    </div>
                    <div class="boton3" @click="createAccount">Create Account</div>
                    <p class="text-red-500 text-bold text-sm md:text-lg">{{mjeError}}</p>
                </div>
            </div>
        </div>
        <!-- MODAL MENSAJE SENCILLO, SIN BOTONES -->
        <div v-show="modalSimple==true"
            class="aparecer fixed top-0 left-0 flex justify-center bg-opacity-80 aparecer z-[43] w-full h-full glass2">

            <div
                class="flex flex-col justify-center items-center mt-10 bg-skin-normal filter-none w-96 h-52 rounded-2xl shadow-sm border border-slate-300">
                <!-- X -->
                <div class="flex justify-end items-end content-end w-full">
                    <button class="mt-2 mr-4" @click="modalSimple=false">X</button>
                </div>
                <p class="text-skin-base text-center p-2 m-1 font-bold"><b>Successful account access!</b>
                </p>
                <div>
                    <button class="boton2" @click="modalSimple=false">Stay here</button>
                    <button v-show="goTo!=''" class="boton2 ml-3" @click="redirect">Go to {{goTo}}</button>
                </div>
            </div>

        </div>
        <!-- MODAL DE PERFIL/ UPLOAD PHOTO -->
        <div v-show="modalUploadPhoto==true"
            class="aparecer fixed top-0 left-0 flex justify-center bg-opacity-80 aparecer z-[42] w-full h-full glass2">
        </div>
        <div v-show="modalUploadPhoto==true"
            class="aparecer fixed top-0 left-0 flex justify-center justify-items-center content-center w-full h-full z-50">
            <!-- DETALLES PERFIL -->
            <div href="#"
                class="m-5 overflow-hidden bg-skin-inverted bg-opacity-60 rounded-t-2xl rounded-b-3xl md:flex md:w-4/5 md:h-2/3 aspect-card2 shadow-[0px_8px_24px_rgba(var(--color-text-base),.05)] flex flex-col justify-center items-center">
                <img :src="profileImage" alt="" class="h-40 rounded-full w-40">
                <p class=" text-skin-inverted text-center text-2xl font-bahnschrift">{{profileInfo.name}}
                    {{profileInfo.lastName}}</p>
                <button class=" boton2" @click="changeImage=true">Change Image</button>
                <div v-show="changeImage==true" class="mt-3 flex flex-col justify-center items-center">
                    <div class="form-floating mb-3 flex flex-col file-select boton1" id="src-file1">
                        <input type="file" content="Choose" id="avatar" name="src-file1" accept="image/png, image/jpeg"
                            @change="select_file" class="boton2">
                    </div>
                </div>
                <div class="flex justify-around pt-2">
                    <button
                        class="w-32 h-12 text-skin-base bg-red-600 bg-opacity-70 p-3 font-bahnschrift text-sm hover:shadow-[1px_1px_5px_rgba(220,38,38,0.8)] rounded-tl-2xl rounded-b-2xl hover:rounded-t-3xl hover:rounded-br-3xl hover:rounded-bl-none ease-in duration-300 hover:bg-opacity-100"
                        @click="modalUploadPhoto=false">return</button>
                    <button v-show="changeImage==true"
                        class="w-32 h-12 text-skin-base font-bold bg-skin-normal p-3 text-sm font-bahnschrift shadow-[0px_0px_1px_rgba(var(--color-text-base),0.4)] hover:shadow-[1px_1px_5px_rgba(var(--color-normal),0.8)] rounded-b-2xl rounded-tr-2xl hover:rounded-l-3xl hover:rounded-tr-3xl hover:rounded-br-none  ease-in duration-300 hover:filtro2"
                        @click="editPhoto">
                        upload
                        photo</button>
                </div>
            </div>
        </div>

       </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="/web/scripts/artistpage.js"></script>
    <!-- librería flowbite -->
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
  </body>
</html>
